.timestamp-container {
    font-size: 11px;
    text-align: right;
}

.message-container {
    font-size: 120%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 3px;
}

.hide-message-btn {
    float: right;
    background-color: pink;
    border-radius: 12px;
    font-size: 8px;
    margin-left: 10px;
}

#nuke {
    text-align: right;
    margin-right: 3px;
}

#message-submit-container {
    text-align: center;
    margin: 3px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
}

#message-form {
    display: inline-flex;
    flex-direction: column;
}

#message-content {
    font-size: 110%;
    background-color: azure;
    width: 300px;
    height: 100px;
    resize: none;
    margin-top: 3px;
}